.button {
  height: 3.2em;
  border-radius: 0.5em;
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0 2em;

  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img,
  svg {
    width: 1.5em;
    height: 1.5em;
  }

  &.outlined {
    background-color: var(--darken-white);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.header-button {
    .text {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
