.list-card {
  padding: 0.5em 1em;

  display: flex;
  gap: 1.5em;
  flex-direction: column;
  justify-content: center;

  border-radius: 0.5em;
  background-color: var(--white);
  box-shadow: 0 0.12em 0.75em rgba(0, 0, 0, 0.04);

  .card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h3 {
      font-weight: 700;
      font-size: 1.2em;
      font-family: 'Montserrat', sans-serif;
      margin-right: 1.5em;
    }

    span {
      display: flex;
      gap: 0.5em;
      align-items: center;
    }
  }

  .card-main {
    span {
      font-size: 0.7em;
      color: var(--darken-grey);
    }
    .card-footer {
      margin-top: 0.25em;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .user-info {
        display: flex;
        align-items: center;
        gap: 0.5em;

        img {
          width: 2em;
          height: 2em;
          border-radius: 50%;
        }
      }

      .options {
        display: flex;
        align-items: center;
        gap: 0.5em;

        img,
        svg,
        button {
          width: 1.5em;
          height: 1.5em;
          background-color: transparent;
          color: var(--darken-grey);

          &.highlighted {
            color: var(--primary-color);
          }
        }

        button {
          cursor: pointer;
        }
      }
    }
  }
}
