#page-auth {
  height: 100vh;

  display: flex;
  align-items: stretch;

  aside {
    @media (max-width: 1024px) {
      display: none;
    }

    padding: 3em 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 6;
    gap: 0.75em;

    background-color: var(--primary-color);
    color: var(--white);

    img {
      max-width: 30em;
    }

    strong {
      line-height: 2.6em;
      font: 700 2.6em 'Montserrat', sans-serif;
    }

    p {
      font-size: 1.5em;
      line-height: 1.75em;
      color: var(--darken-white);
    }
  }

  main {
    padding: 0 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 9;
  }

  .main-content {
    width: 100%;
    max-width: 20em;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 1em;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 1.5em;
      font-family: 'Montserrat', sans-serif;
    }

    form {
      input {
        height: 3.2em;
        padding: 0 2em;

        background-color: var(--white);
        border: 1px solid var(--grey);
        border-radius: 0.5em;
      }

      button {
        margin-top: 1em;
      }

      button,
      input {
        width: 100%;
      }
    }

    p {
      font-size: 0.8em;

      color: var(--grey);

      a {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }

  .sign-in {
    height: 3.2em;

    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--grey);
    border-radius: 0.5em;
    cursor: pointer;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    display: flex;
    align-items: center;

    font-size: 0.9em;
    color: var(--grey);

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--grey);
      margin-right: 0.5em;
    }
    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--grey);
      margin-left: 0.5em;
    }
  }
}
