#page-shopping-list {
  header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--divider);

    .content {
      max-width: 70rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > a img {
        max-height: 3.5rem;
      }

      > div {
        display: flex;
        gap: 1rem;
        align-items: center;

        button {
          height: 3rem;
        }
      }
    }
  }

  main {
    max-width: 50rem;
    margin: 0 auto;

    .list-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        color: var(--text-color);
      }

      span {
        margin-left: 1rem;
        background-color: var(--primary-color);
        border-radius: 100rem;
        padding: 0.5em 1em;
        color: var(--white);
        font-weight: 500;
        font-size: 0.9rem;
      }
    }

    .main-content {
      display: flex;
      gap: 1rem;
      flex-direction: column;

      form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          height: 3.2rem;
          padding: 0 2rem;

          background-color: var(--white);
          border: 1px solid var(--grey);
          border-right: 0;
          border-radius: 0.5rem 0 0 0.5rem;
        }

        button {
          white-space: nowrap;
          border-radius: 0 0.5rem 0.5rem 0;
        }
      }

      .product-list {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
      }
    }

    .separator {
      display: flex;
      align-items: center;

      font-size: 0.9rem;
      color: var(--grey);

      &::before {
        content: '';
        flex: 1;
        height: 1px;
        background: var(--grey);
        margin-right: 0.5rem;
      }
      &::after {
        content: '';
        flex: 19;
        height: 1px;
        background: var(--grey);
        margin-left: 0.5rem;
      }
    }
  }
}

#add-user-to-list {
  margin: auto;
  height: fit-content;
  max-width: 33rem;
  padding: 3rem !important;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }

  p {
    text-align: center;
  }

  span {
    font-size: 0.8rem;
    color: var(--grey);
  }

  .users-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    .user-info {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
    }
  }
  form {
    width: 100%;

    input {
      text-align: center;
      height: 3.2rem;
      padding: 0 1rem;

      background-color: var(--white);
      border: 1px solid var(--grey);
      border-radius: 0.5rem 0.5rem 0 0;
    }

    button {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    button,
    input {
      width: 100%;
    }
  }
}
