#page-user-lists {
  header {
    padding: 1.5em;
    border-bottom: 1px solid var(--divider);

    .content {
      max-width: 70em;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 3.5em;
      }

      > div {
        display: flex;
        gap: 1em;
        align-items: center;

        button {
          height: 3em;
        }
        .exit-button {
          width: 1.5em;
          height: 1.5em;
          cursor: pointer;
          background-color: transparent;
          color: var(--darken-grey);

          svg,
          img {
            width: 1.5em;
            height: 1.5em;
          }

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }

  main {
    max-width: 50em;
    margin: 0 auto;
    padding: 0 1.5em;

    .list-title {
      margin: 2em 0 1.5em;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        color: var(--text-color);
      }

      span {
        margin-left: 1em;
        background-color: var(--primary-color);
        border-radius: 100em;
        padding: 0.5em 1em;
        color: var(--white);
        font-weight: 500;
        font-size: 0.9em;
      }
    }

    .main-content {
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5em;
    }
  }
}
