.user-code {
  height: 2.5em;
  border-radius: 0.5em;
  overflow: hidden;

  background: var(--white);
  border: 1px solid var(--primary-color);
  cursor: pointer;

  display: flex;

  div {
    background-color: var(--primary-color);
    padding: 0 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  span {
    @media (max-width: 768px) {
      display: none;
    }

    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1em 0 0.75em;
    max-width: 16em;
    font-size: 0.9em;
    font-weight: 500;
  }
}
